.nav-item {
  margin: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: $text-color-dark;
  text-transform: uppercase;

  &:hover {
    color: $primary-color;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 0.9em;
  padding: 20px 14px;

  @include desktop {
    padding: 10px;
  }
}

#select-language {
  background-color: transparent;
  font-weight: 700;
}
