{{ define "main" }}
<style>
    p { font-size: 18px; }
    .section.section-wide .container-fluid {
      width: 75%;
    }
    .toc-sidebar {
        padding: 50px; margin: -30px 0 0 0;
        border-right: 1px solid #f0f0f0;
    }

    .toc-sidebar-content { 
        position: sticky; top: 25px;
    }
    
    .toc-links li:before {
       content: none!important;
    }

    .toc-current {
        font-weight: bold;
    }

    .image-with-shadow {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .video-wrapper {
        max-width: 100%;
    }

    .php-logo {
        max-width: 450px;
        margin: auto;
        display: flex; 
        height: 50%;
        padding: 10%; 
        background: #4F5B93;
        align-content: center;
        justify-content: center;
    }

    .php-logo > img {
        margin-bottom: 0;
    }

    .os-logo {
        max-height: 250px; max-width: 100%;
    }

    .carousel-indicators li:before {
        display: none;
    }

   .carousel-control-prev {
        left: -110px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 35px; height: 35px;
    }
 
   .carousel-control-next {
        right: -110px;
    }

    .carousel-inner {
        text-align: center;
    }

    .carousel-control-next,
    .carousel-control-prev {
        border-bottom: 0 !important;
    }

    .release-page a {
        border-bottom: 0 !important;
    }

    [id*="-carousel"] .carousel-control-next,
    [id*="-carousel"] .carousel-control-prev {
        filter: invert(100%);
        color: #000;
    }

    .carousel-inner img {
        width: auto;
        height: 500px;
        max-height: 500px;
    }

    .carousel-inner video {
        width: auto;
        height: 497px;
        max-height: 497px;
    }

    @media only screen and (max-width: 767px) {
        .display-4 {
            font-size: 36px;
        }

        .toc-sidebar {
            padding: 15px 25px 0;
        }

        .section {
            padding-top: 15px; padding-bottom: 15px;
        }

        .content * {
            margin-bottom: 10px;
        }

        .carousel-control-prev {
            left: -35px;
        }

        .carousel-control-next {
            right: -35px;
        }

        .carousel-inner img {
            width: auto;
            height: 250px;
            max-height: 250px;
        }

        .carousel-inner video {
            width: auto;
            height: 248px;
            max-height: 248px;
        }
    }
</style>
<script>
    window.addEventListener('DOMContentLoaded', () => {
      const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
          const id = entry.target.getAttribute('id');
          
          if (entry.intersectionRatio > 0) {
            let currentEl = document.querySelector('.toc-current');
            if (currentEl) {
                currentEl.classList.remove('toc-current');
            }
            document.querySelector(`.toc-links li a[href="#${id}"]`).parentElement.
            classList.add('toc-current');
          } else {
            document.querySelector(`.toc-links li a[href="#${id}"]`).parentElement.classList.remove('toc-current');
          }
        });
      });

      document.querySelectorAll('section[id]').forEach((section) => {
        observer.observe(section);
      });
  
    });
</script>

{{ if .Params.showIntroductionBanner }}
<section class="section pb-0">
    <div class="jumbotron">
      <div class="container text-center">
      <h1 class="display-4">{{ .Title | markdownify }}</h1>
      {{ with .Params.subtitle }}
        <p class="lead">{{ . | markdownify }}</p>
      {{ end }}
      {{ with .Params.downloadUrl }}
        <hr class="my-4">
        <p>You can download the latest version directly from our GitHub</p>
        <a class="btn btn-primary" href="{{ . }}">Download</a>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

<div class="content">
    {{ .Content }}
</div>

{{ end }}

