/* Button style */
.btn {
  font-size: 16px;
  font-family: $primary-font;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 0;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;
  white-space: nowrap;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: inherit;
    transition: inherit;
    background-color: inherit;
    border: 1px solid transparent;
  }

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    @extend .shadow;

    &::before {
      height: 110%;
      width: 110%;
    }
  }

  &-sm {
    padding: 12px 30px;
    font-size: 15px;
  }
}

:root {
    --color-1: #000;
    --color-2: #fff;
    --color-3: #a4dbe8;
    --color-4: #bde9c9;
    --color-5: #decde7;
    --color-6: #f8e08e;
    --color-7: #f4f4f4;
    --color-8: #595959;
    --color-9: #dadada;
    --color-10: #268095;
    --color-11: #e8f6f9;
    --header-height: 8rem;
    --color-background: var(--color-1);
    --color-text: var(--color-2);
    --color-btn-background: var(--color-2);
    --color-btn-text: var(--color-1);
    --space: 4rem;
    --fluid: 62.5%;
    --pattern-1: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.5 13" style="enable-background:new 0 0 6.5 13" xml:space="preserve"><circle cx="1.1" cy="11.9" r="1.1"/><circle cx="4.3" cy="5.4" r="1.1"/></svg>');
    --pattern-2: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.5 13' style='enable-background:new 0 0 6.5 13' xml:space='preserve'%3E%3Cstyle%3E.st0{fill:gray}%3C/style%3E%3Ccircle class='st0' cx='4.3' cy='5.4' r='1.1'/%3E%3Ccircle class='st0' cx='1.1' cy='11.9' r='1.1'/%3E%3C/svg%3E");
    --pattern: var(--pattern-1);
    --transition: cubic-bezier(1,0,0,1);
    --transition-2: cubic-bezier(.215,.61,.355,1);
    --grid-max: 100vw;
    --grid-gap: 2rem;
    --grid-rgap: 2rem;
    --grid-ext: 1.5rem;
    --font: "IBMPlexSans","Arial";
    --prestafont: "Prestafont","Arial"
}

.cta {
    --offset: .4rem;
    background-color: transparent;
    border: 0;
    display: inline-block;
    font-weight: 700;
    letter-spacing: .05rem;
    padding: 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase
}

@media (min-width: 768px) {
    .cta {
        --offset:.8rem
    }
}

.cta>span {
    align-items: center;
    background-color: var(--color-btn-background);
    color: var(--color-btn-text);
    display: inline-flex;
    padding: 2rem 3rem;
    position: relative;
    transition: all .3s var(--transition-2);
    z-index: 2
}

.cta>span svg {
    margin-left: 1.5rem!important;
    min-width: 1rem;
    width: 1rem
}

.cta>span svg,.cta>span svg * {
    fill: var(--color-btn-text)
}

.cta:before {
    background-image: var(--pattern);
    filter: invert(80%);
    background-position: 0 100%;
    background-repeat: repeat;
    background-size: .6rem auto;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    transition: all .3s var(--transition-2);
    width: 100%;
    z-index: 1
}

.cta--pattern span,.cta:hover span {
    transform: translate(var(--offset),calc(var(--offset)*-1))
}

.cta--pattern {
    margin-right: var(--offset);
    margin-top: var(--offset)
}

.cta--pattern:hover span {
    transform: translate(calc(var(--offset)*2),calc(var(--offset)*-2))
}

.cta--outline span {
    background-color: var(--color-btn-text);
    box-shadow: inset 0 0 0 .1rem var(--color-btn-background);
    color: var(--color-btn-background)
}

.cta--outline span svg,.cta--outline span svg * {
    fill: var(--color-btn-background)
}

.cta--outline span:after {
    background-color: var(--color-btn-background)
}






.btn-sm {
    padding: 12px 14px;
    font-size: 15px;
}

.btn-primary {
  background-color: $primary-color;
  color: $white !important;
  border-color: $primary-color;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
  }
}

.btn-white {
  background-color: $white;
  color: $black !important;
  border-color: $white;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background-color: $black !important;
    border-color: $black !important;
    color: $white !important;
  }
}

.btn-arrow-right:after {
  padding-left: .4em;
  content: '►';
}

.btn-outline-primary {
  background-color: transparent;
  color: $text-color-dark;
  border-color: transparent;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background-color: transparent !important;
    border-color: $primary-color !important;
    color: $primary-color;
  }
  &::before{
    border-color: $primary-color;
  }
}

.btn-link {
  color: $primary-color;

  i,
  svg {
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 1px;
    transition: .2s ease;
  }

  &:active,
  &:hover,
  &.focus,
  &.active {
    color: $primary-color;
    text-decoration: none;

    i,
    svg {
      margin-left: 10px;
    }
  }
}
