<footer class="section">
  <div class="container">
    <div class="row">
      <div class="col-12"><hr/></div>
      <div class="col-12 mt-2">
        <a class="d-block h3 mb-3" href="{{ site.BaseURL | absLangURL}}">
          {{ with site.Params.logo}}
            <img width="{{site.Params.logo_width}}" class="img-fluid" src="{{ . | relURL }}" alt="{{ site.Title }}">
          {{ else }}{{site.Title}}{{end}}
        </a>
      </div>
      <div class="col-12 mt-2">
        <ul class="list-unstyled footer-list">
          {{ range site.Menus.footer_left }}
          <li class="d-inline-block"><a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }} </a></li>
          {{ end }}
          {{ range site.Menus.footer_right }}
          <li class="d-inline-block"><a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12">
        <ul class="list-unstyled footer-list">
          {{ range site.Menus.footer_middle }}
          <li class="d-inline-block"><a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12"><hr/></div>
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-lg-6 text-center text-lg-left">
            <small class="content small">{{ site.Params.License | markdownify }}</small>
          </div>
          <div class="col-12 col-lg-6 mt-2 mt-lg-0 text-center text-lg-right">
            <small class="content small">{{ site.Params.Copyright | markdownify }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>