<!-- JS Plugins + Main script -->
{{ $scripts := slice }}
{{ range site.Params.plugins.js}}
{{ if findRE "^http" .link }}
<script crossorigin="anonymous" defer="defer" src="{{ .link | relURL }}" type="application/javascript" {{.attributes | safeHTMLAttr}}></script>
{{ else }}
{{ $scripts = $scripts | append (resources.Get .link) }}
{{ end }}
{{ end }}
{{ $scripts := $scripts | append (resources.Get "js/script.js" | minify) }}
{{ $scripts := $scripts | resources.Concat "/js/script.js" | minify | fingerprint "sha512" }}
<script crossorigin="anonymous" defer="defer" integrity="{{ $scripts.Data.Integrity }}" type="application/javascript">{{$scripts.Content | safeJS}}</script>

<!-- cookie -->
{{ with site.Params.cookies }}
{{ if .enable }}
<script>
	window.axeptioSettings = {
	  clientId: "6859145f7baee141c249caa3",
	  cookiesVersion: "fr-eu-23-06-2025",
	  googleConsentMode: {
		default: {
		  analytics_storage: "denied",
		  ad_storage: "denied",
		  ad_user_data: "denied",
		  ad_personalization: "denied",
		  wait_for_update: 500
		}
	  }
	};
	(function(d, s) {
	  var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
	  e.async = true; e.src = "//static.axept.io/sdk.js";
	  t.parentNode.insertBefore(e, t);
	})(document, "script");
	</script>
{{ end }}
{{ end }}
